@import "tailwindcss";

@theme {
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: "Impact", "Arial Narrow Bold", sans-serif;
  
  --color-bg: #080808;
  --color-accent: #1e40af;
  --color-text: #ffffff;
  --color-muted: #a1a1aa;
  --color-success: #22c55e;
}